<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${bookToEdit.getId()})}" th:object="${bookToEdit}">
  <label for="name">Enter book's name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <label for="author">Enter book's author</label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author name error</div>
  <br/>
  <label for="productionYear">Enter book's production year: </label>
  <input type="text" th:field="*{productionYear}" id="productionYear"/>
  <div style="color:red" th:if="${#fields.hasErrors('productionYear')}" th:errors="*{productionYear}">Production year error</div>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>